@import url(./collaborateurs.css);

.profil-form form{
  display: flex;
  justify-content: center;
}
.profil-form h2{
  margin-left: 15rem;
  font-size: 2.4rem;
  font-weight: 300;
}
.profil-form form fieldset{
  border: none;
  text-align: end;
}
.profil-form form fieldset input,
.profil-form form fieldset select{
  text-align: start;
}
.profil-form form input{
  width: 200px;
  height: 30px;
  border: solid 1px #C9C8C8;
  border-radius: 20px;
  background-color: #F0F0F0;
  text-align:unset;
  font-size: 1.6rem;
  padding: auto;
  padding-left: 10px;
  outline: none;
  margin-bottom: 10px;
}
.profil-form form select{
  width: 215px;
  height: 35px;
  border: solid 1px #C9C8C8;
  border-radius: 20px;
  background-color: #F0F0F0;
  text-align:unset;
  font-size: 1.6rem;
  padding: auto;
  padding-left: 10px;
  outline: none;
  margin-bottom: 10px;
}
.profil-form form .button-container{
  text-align: center;
}
.profil-form form button{
  width: max-content;
  padding: 1rem;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #0066FF;
  color: #ffff;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  transition: .3s ease-in-out;
  opacity: .8;
  outline-color:  #063f95;
}
.profil-form form button:hover{
  opacity: 1;
  transition: .3s ease-in-out;
}